body {
	width: 100%;
	height: 100%;
	font-family: 'Encode Sans', sans-serif;
	background-color: #554D00;
	color:#FFF7AA;
}

.title{
	font-size: 70px;
	font-weight: bold;
	margin-bottom: 20px;
}

.bright{
color:#554D00;
}