body {
	width: 100%;
	height: 100%;
	font-family: 'Encode Sans', sans-serif;
	background-color: #f76072;
	color:#f4d742;
}

.title{
	font-size: 70px;
	font-weight: bold;
	margin-bottom: 20px;
}
.btn{
	background-color: #f4d742;
}